
<div id="page" align="center">
	
    <!-- Get input for predict the  heart disease -->

    
    <!-- <center>
         <br>
            <br>
               <br>
                  <br> -->
    <!-- <form action="{{ url_for('predict')}}"method="post"> -->
        <form>
       
       
                                        
                                    

        <h1>Enter the value of heart features >>></h1><br><br><br><br><br><br><br><br>
        
    	<input type="text" name="age" placeholder="age" required="required" />
        <input type="text" name="trestbps" placeholder="trestbps" required="required" />
		<input type="text" name="chol" placeholder="chol" required="required" />
        <input type="text" name="thalach" placeholder="thalach" required="required" />
            <input type="text" name="oldpeak" placeholder="oldpeak" required="required" />
		
        

        <br>
        <br>
    	<input type="text" name="sex_0" placeholder="sex_0" required="required" />
        <input type="text" name="sex_1" placeholder="sex_1" required="required" />
		<input type="text" name="cp_0" placeholder="cp_0" required="required" />
        <input type="text" name=" cp_1" placeholder=" cp_1" required="required" />
            <input type="text" name="cp_2" placeholder="cp_2" required="required" />
    	
        
		
		<br><br>
    	<input type="text" name="cp_3" placeholder=" cp_3" required="required" />
        <input type="text" name="fbs_0" placeholder="fbs_0" required="required" />
		<input type="text" name="restecg_0" placeholder="restecg_0" required="required" />
        <input type="text" name="restecg_1" placeholder="restecg_1" required="required" />
            <input type="text" name="restecg_2" placeholder="restecg_2" required="required" />
    	
        
		
    	<br><br>
    	<input type="text" name="exang_0" placeholder="exang_0" required="required" />
        <input type="text" name="exang_1" placeholder="exang_1" required="required" />
		<input type="text" name=" slope_0" placeholder=" slope_0" required="required" />
        <input type="text" name=" slope_1" placeholder="slope_1" required="required" />
    <input type="text" name="  slope_2" placeholder=" slope_2" required="required" />
    	
        
			<br><br>


      
      <input type="text" name=" ca_0" placeholder=" ca_0" required="required" />
        <input type="text" name="ca_1" placeholder="ca_1" required="required" />
    <input type="text" name="ca_2" placeholder="ca_2" required="required" />
        <input type="text" name=" thal_1" placeholder="thal_1" required="required" />
    <input type="text" name="thal_2" placeholder="thal_2" required="required" />
      
        
      <br><br>
      <input type="text" name="thal_3" placeholder="thal_3" required="required" />
      <br><br><br>


      
        
        <!-- Show button -->
        <div class="button_cont" align="center"><a class="button_css"  target="_blank" rel="nofollow noopener">
            <button type="submit" class="btn btn-primary btn-block btn-large"><strong>Predict Heart disease</strong></button></a>
        </div>
        
    </form>
    <!-- </center> -->
   
   <!-- Show predicted output using ML model --> 



   <div>
       <!-- <center> -->


   <!-- <h1>{{ prediction_text }}</h1> -->


       <!-- </center> -->
   </div>

 </div>