<div id="page">
    <div id="header">
      <div>
        <a href="index.html"><img src="assets/images/logo.gif" alt="Logo" /></a>
      </div>
      <ul>
        <li class="first current"><a href="index.html">Home</a></li>
        <li><a href="recipes.html"></a></li>
        <li><a href="about.html">About us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li class="last"><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div id="content">
      <span class="background"></span>
      <div id="home">
        <ul>
          <li class="first">
            <!-- <a href="index.html"><img src="assets/images/k2.jpg" alt="Image"/></a> -->
            <a routerLink='check'> <H1>Heart Check up</H1></a>
            
          </li>
          <li>
            
            
          </li>
        </ul>
        <div class="">
          <a href="index.html"><img src="assets/images/k1.1.1.jpg" alt="Image" /></a>
          
          
        </div>
      </div>
    </div>
    <div id="footer">
      <div>
        <div>
          <ul>
            <li>
              <a href="index.html"><img src="assets/images/baking-fruits.jpg" alt="Image" /></a>
              <h2><a href="index.html">Diet Plan</a></h2>
              <p>This spring, we’ll help you find your Fierce 5 – ways to move more in our movement for better physical and mental health – in whatever ways work for YOU!<a class="more" href="index.html">Read more</a></p>
            </li>
            <li>
              <a href="index.html"><img src="assets/images/health-benefits.jpg" alt="Image" /></a>
              <h2><a href="index.html">Health Benefits</a></h2>
              <p>After extensive studies, a diet low in saturated fat and high in fruits and veggies is optimal for heart health. While fat should be eaten in moderation, healthy fat is incredibly important to have in your diet... <a class="more" href="index.html">Read more</a></p>
            </li>
            <li>
              <a href="index.html"><img src="assets/images/vitamins.jpg" alt="Image" /></a>
              <h2><a href="index.html">Health Topics</a></h2>
              <p>Learn the facts about heart conditions and stroke so you can increase your confidence in making changes to improve and maintain your health.... <a class="more" href="index.html">Read more</a></p>
            </li>
          </ul>
        </div>
        <p class="footnote">&copy; 2011 Healthy Life. All Rights Reserved.</p>
      </div>
    </div>
  </div>	
  